.timeline {
  list-style: none;
}
.timeline > li {
  margin-bottom: 60px;
}

.timeline-date{
  color: #f3f3f3;
  background: linear-gradient(transparent 80%, #008899 70%);
}

/* for Desktop */
@media(min-width: 640px){
  .timeline > li {
    overflow: hidden;
    margin: 0;
    position: relative;
  }
  .timeline-date {
    width: 110px;
    float: left;
    margin-top: 20px;
  }
  .timeline-content {
    width: 75%;
    float: left;
    border-left: 3px #e5e5d1 solid;
    padding-left: 30px;
  }
}